<p><a href="{{appUrl}}/tickets/{{ticket._id}}">Work Order {{ticket._id}}:
  {{ticket.subject}}</a> has received a new update by
  {{update.technician.username}}:</p>
<blockquote>{{update.details}}</blockquote>
<p>TOWOS Admin</p>
